<div role="separator">
  <div class="wrapper">
    <svg
      width="1234"
      height="12"
      viewBox="0 0 1234 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      aria-hidden="true"
    >
      <path
        d="M2 0.196655C1.17157 0.196655 0.5 0.868228 0.5 1.69666C0.5 2.52508 1.17157 3.19666 2 3.19666V0.196655ZM2 3.19666H723V0.196655H2V3.19666Z"
        fill="currentColor"></path>
      <path
        d="M771 0.196655C770.172 0.196655 769.5 0.868228 769.5 1.69666C769.5 2.52508 770.172 3.19666 771 3.19666V0.196655ZM771 3.19666H1234V0.196655H771V3.19666Z"
        fill="currentColor"></path>
      <path
        d="M2.00064 8.19666C1.17221 8.1963 0.500354 8.86759 0.5 9.69602C0.499647 10.5244 1.17093 11.1963 1.99936 11.1967L2.00064 8.19666ZM1.99936 11.1967L691.999 11.491L692.001 8.49104L2.00064 8.19666L1.99936 11.1967Z"
        fill="currentColor"></path>
      <path
        d="M739.999 8.52747C739.171 8.52802 738.499 9.20004 738.5 10.0285C738.501 10.8569 739.173 11.528 740.001 11.5275L739.999 8.52747ZM740.001 11.5275L1234 11.1967L1234 8.19667L739.999 8.52747L740.001 11.5275Z"
        fill="currentColor"></path>
    </svg>
  </div>
</div>

<style>
  [role="separator"] {
    margin-block: var(--space-5);
    color: var(--clr-separator);
  }

  .wrapper {
    padding-block: 0;
  }

  svg {
    width: 100%;
  }
</style>
