<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./style.css">
  <link rel="canonical" href="{{ canonical }}">
  <meta name="description" content="{{ metaDescription }}" />
  <meta property="og:locale" content="es" />
  <meta property="og:type" content="{{ ogType }}">
  <meta property="og:title" content="{{ metaTitle }}">
  <meta property="og:description" content="{{ metaDescription }}">
  <meta property="og:url" href="{{ canonical }}">
  <meta property="og:site_name" content="https://accesibilidadweb.today">
  <meta property="og:image" content="https://accesibilidadweb.today/assets/images/{{ imageName }}.jpg">
  <meta property="og:image:width" content="{{ imageWidth }}">
  <meta property="og:image:height" content="{{ imageHeight }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{{ metaDescription }}">
  <meta name="twitter:title" content="{{ metaTitle }}">
  <meta name="twitter:site" content="@ItsCrisDiaz">
  <meta name="twitter:creator" content="@ItsCrisDiaz">
  <meta name="twitter:image" content="https://accesibilidadweb.today/assets/images/{{ imageName }}.jpg">
  <meta name="twitter:label1" content="Creado por">
  <meta name="twitter:data1" content="Cristian Díaz">
  <link rel="icon" href="/assets/images/logo-lm.svg" />
  <link rel="icon" href="/assets/images/logo-dm.svg"  media="(prefers-color-scheme: dark)"/>
</head>
<body>
   {{ content | safe}}
</body>
</html>