body {
  font-size: var(--fs-300);
  font-family: var(--ff-text);
  background-color: var(--clr-background);
  color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

h1 {
  font-size: var(--fs-600);
  line-height: 1.2;
  max-width: 17ch;
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}

:is(h1, h2, h3) {
  color: var(--clr-title);
}

p {
  max-width: 60ch;
}

:focus-visible {
  --outline-size: max(2px, 0.15em);
  outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid)
    var(--outline-color, currentColor);
  outline-offset: var(--outline-offset, var(--outline-size));

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: outline-offset 200ms ease-in-out;
  }
}
