@use "../abstract/colors" as *;
@use "../abstract/font-sizes" as *;
@use "../abstract/spaces" as *;
@use "../abstract/themes" as *;

:root {
  $themes: true;
  // COLOR CUSTOM PROPERTIES

  // Neutral and main colors
  @each $key, $item in $base {
    @each $shade, $color in $item {
      --clr-#{$key}-#{$shade}: #{$color};
    }
  }

  // Modules colors
  @each $key, $item in $modules {
    @each $shade, $color in $item {
      --clr-#{$key}-#{$shade}: #{$color};
    }
  }

  // LIGHT MODE COLOR TOKENS

  // Color tokens for main color theme
  @each $key, $item in $light {
    --clr-#{$key}: var(--clr-main-#{$item});
  }

  // Color token for specific module elements visibles in default theme
  @for $i from 1 through 8 {
    --clr-module-#{$i}-accent: var(--clr-module-#{$i}-700);
  }

  // Neutral color tokens
  --clr-background: var(--clr-neutral-100);
  --clr-text: var(--clr-neutral-800);
  --clr-footnote: var(--clr-neutral-700);

  @if $themes {
    @media screen and (prefers-color-scheme: dark) {
      // Color tokens for main color theme
      @each $key, $item in $dark {
        --clr-#{$key}: var(--clr-main-#{$item});
      }

      // Color token for specific module elements visibles in default theme
      @for $i from 1 through 8 {
        --clr-module-#{$i}-accent: var(--clr-module-#{$i}-300);
      }
    }

    // Neutral color tokens
    --clr-background: var(--clr-neutral-900);
    --clr-text: var(--clr-neutral-200);
    --clr-footnote: var(--clr-neutral-300);
  }

  // Color tokens for different modules
  @for $i from 1 through 8 {
    &[data-theme="#{$i}"] {
      @each $key, $item in $light {
        --clr-#{$key}: var(--clr-module-#{$i}-#{$item});
      }

      @if $themes {
        @media screen and (prefers-color-scheme: dark) {
          @each $key, $item in $dark {
            --clr-#{$key}: var(--clr-module-#{$i}-#{$item});
          }
        }
      }
    }
  }

  // FONT CUSTOM PROPERTIES
  @each $key, $item in $font-sizes {
    --fs-#{$key}: #{$item};
  }

  --ff-title: "Lexend", system-ui, sans-serif;
  --ff-text: "Atkinson Hyperlegible", system-ui, sans-serif;

  // SPACES CUSTOM PROPERTIES

  @each $key, $item in $spaces {
    --space-#{$key}: #{$item};
  }
}
