---
// Component Imports
import Layout from "../../layouts/layout.astro";
---

<Layout
  title="Declaración de accesibilidad - Accesibilidadweb.today"
  description="Declaración de accesibilidad que menciona todo lo necesario sobre el estado de la accesibilidad de accesibilidadweb.today"
>
  <div class="wrapper flow" data-width="narrow">
    <h1>Declaración de accesibilidad</h1>
    <p>
      He generado esta declaración de accesibilidad con la ayuda del <a
        href="https://www.w3.org/WAI/planning/statements/generator/"
        >generador de declaraciones de accesibilidad de la W3C</a
      >, el cual he traducido y modificado ligeramente.
    </p>
    <p>
      Accesibilidadweb.today, creado por <a
        href="https://bsky.app/profile/itscrisdiaz.com">Cristian Díaz</a
      > está comprometido a garantizar la accesibilidad digital para personas con
      discapacidad. Ando mejorando la experiencia de forma continua para todo, y
      aplicando los estándares de accesibilidad relevantes.
    </p>
    <h2>Medidas para garantizar la accesibilidad</h2>
    <p>
      Accesibilidadweb.today toma las siguientes medidas para garantizar la
      accesibilidad del sitio:
    </p>
    <ul class="flow">
      <li>Incluir la accesibilidad como parte de su misión.</li>
      <li>Incluir la accesibilidad en sus políticas y procesos internas.</li>
      <li>
        Proveer entrenamiento continuo de accesibilidad a las personas
        involucradas (en este caso, solo yo).
      </li>
      <li>Asignar metas y responsabilidades claras de accesibilidad.</li>
    </ul>
    <h2>Estado de conformidad</h2>
    <p>
      La <a href="https://www.w3.org/WAI/standards-guidelines/wcag/"
        >Guía de Accesibilidad para Contenido Web</a
      > (WCAG por sus siglas en inglés) define los requerimientos para diseñadores
      y desarrolladores para mejorar la accesibilidad para persoans con discapacidades.
      Define tres niveles de conformidad: Nivel A, Nivel AA y Nivel AAA.
    </p>
    <p>
      Este sitio cumple en su totalidad con el nivel AA de la WCAG 2.1.
      Adicionalmente, da cumplimiento a las siguientes reglas de la WCAG 2.1 y
      WCAG 2.2:
    </p>
    <ul class="flow">
      <li>1.3.6 Identify Purpose.</li>
      <li>2.3.3 Animation from Interactions</li>
      <li>2.4.10 Section Headings.</li>
      <li>2.4.13 Focus Appereance (WCAG 2.2)</li>
    </ul>
    <h2>Especificaciones técnicas</h2>
    <p>
      La accesibilidad de este proyecto depende de las siguientes tecnologías
      para funcioanr con la combinación particular de cualquier tecnología
      asistiva o plugins instalados en tu coputaodr.
    </p>
    <ul class="flow">
      <li>HTML.</li>
      <li>WAI-ARIA.</li>
      <li>CSS.</li>
      <li>JavaScript.</li>
    </ul>
    <h2>Feedback</h2>
    <p>
      Cualquier feedback sobre la accesibilidad de Accesibilidadweb.today es
      bienvenido. Si encuentras alguna barrera para acceder a este sitio, puedes
      contactarme a mi correo <a href="mailto:cristian@accesibilidadweb.today"
        >cristian@accesibilidadweb.today</a
      >
    </p>
  </div>
</Layout>
