---
import HomeLink from "./HomeLink.astro";
---

<header>
  <div class="wrapper | flex" data-width="wide">
    <a class="skip-link | fs-400 sr-only" href="#main-content">Ir a contenido</a
    >
    <HomeLink />
    <nav>
      <ul class="cluster" role="list">
        <li><a href="/acerca-de">Acerca de</a></li>
        <li><a href="/modulos">Módulos</a></li>
        <li><a href="#">Lecciones</a></li>
        <li><a href="#">Sigue este proyecto</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: var(--clr-header-bg);
    border-bottom: 5px solid var(--clr-header-border);
  }

  header .wrapper {
    justify-content: space-between;
    align-items: center;
    gap: var(--space-3);
  }

  .skip-link {
    --outline-offset: -8px;
    position: absolute;
    top: 0;
    left: 50%;
    padding: var(--space-2) var(--space-3);
    transform: translateX(-50%);
    background-color: var(--clr-footer-theme-toggler-accent);
    color: var(--clr-footer-theme-toggler-text);
  }

  header a {
    color: var(--clr-header-link);
    font-family: var(--ff-title);
    font-weight: 500;
    text-decoration-color: transparent;
  }

  header ul {
    --cluster-space: var(--space-3);
  }
</style>
