---
import HeaderLogo from "./HeaderLogo.astro";
---

<header>
  <a href="#main-content">Ir a contenido principal</a>
  <a href="/">
    <HeaderLogo />
    <span>Accesibilidadweb.today</span>
  </a>
  <nav>
    <ul role="list">
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Módulos</a></li>
      <li><a href="#">Lecciones</a></li>
      <li><a href="#">Sigue este proyecto</a></li>
    </ul>
  </nav>
</header>
