---
// Component Imports
import Layout from "../../layouts/layout.astro";
---

<Layout>
  <h1>Módulos</h1>
  <ul>
    <li><a href="/modulos/modulo-1">Módulo 1</a></li>
    <li><a href="/modulos/modulo-2">Módulo 2</a></li>
    <li><a href="/modulos/modulo-3">Módulo 3</a></li>
    <li><a href="/modulos/modulo-4">Módulo 4</a></li>
    <li><a href="/modulos/modulo-5">Módulo 5</a></li>
    <li><a href="/modulos/modulo-6">Módulo 6</a></li>
    <li><a href="/modulos/modulo-7">Módulo 7</a></li>
    <li><a href="/modulos/modulo-8">Módulo 8</a></li>
  </ul>
</Layout>
