@use "sass:map";

// $base: (
//   neutral: (
//     "100": #fef2f4,
//     "200": #deccce,
//     "300": #cebcbe,
//     "400": #b1a0a1,
//     "500": #938284,
//     "600": #746567,
//     "700": #57494b,
//     "800": #36292b,
//     "900": #14090b,
//   ),

//   main: (
//     "100": #fff2f3,
//     "200": #f1c3c9,
//     "300": #fea3b2,
//     "400": #fb708c,
//     "500": #ed2c68,
//     "600": #bd1c4f,
//     "700": #920039,
//     "800": #570620,
//     "900": #1d0207,
//   ),
// );

$base: (
  neutral: (
    "100": #fef2f5,
    "200": #ddccd0,
    "300": #cdbcc0,
    "400": #b0a0a4,
    "500": #928286,
    "600": #746569,
    "700": #57494d,
    "800": #36292c,
    "900": #14090c,
  ),

  main: (
    "100": #fef2f5,
    "200": #efc3cf,
    "300": #fba3be,
    "400": #f770a0,
    "500": #e82e81,
    "600": #b91e65,
    "700": #8f044a,
    "800": #55072b,
    "900": #1c020b,
  ),
);

// $modules: (
//   module-1: (
//     "100": #fff3ed,
//     "200": #fac3a5,
//     "300": #f8ad83,
//     "400": #f67f2f,
//     "500": #d16200,
//     "600": #a54c00,
//     "700": #7b3700,
//     "800": #4a1f01,
//     "900": #190600,
//   ),

//   module-2: (
//     "100": #fff5dc,
//     "200": #e0d0a4,
//     "300": #ddbe69,
//     "400": #c89f00,
//     "500": #a48200,
//     "600": #816600,
//     "700": #5f4b00,
//     "800": #382b03,
//     "900": #110b00,
//   ),

//   module-3: (
//     "100": #eafed7,
//     "200": #c3daac,
//     "300": #a7d17a,
//     "400": #81b836,
//     "500": #669817,
//     "600": #4d7800,
//     "700": #385900,
//     "800": #203404,
//     "900": #070f00,
//   ),

//   module-4: (
//     "100": #ddfff2,
//     "200": #acddca,
//     "300": #86d3b8,
//     "400": #01c097,
//     "500": #009e7b,
//     "600": #007c60,
//     "700": #005c46,
//     "800": #003629,
//     "900": #00100a,
//   ),

//   module-5: (
//     "100": #e3fbff,
//     "200": #a3dce7,
//     "300": #42d6ed,
//     "400": #01b9cf,
//     "500": #0198aa,
//     "600": #007786,
//     "700": #005863,
//     "800": #00343b,
//     "900": #000f12,
//   ),

//   module-6: (
//     "100": #eff7ff,
//     "200": #b1d5fb,
//     "300": #8fc6ff,
//     "400": #51a9ff,
//     "500": #0089eb,
//     "600": #006bba,
//     "700": #004f8a,
//     "800": #002e55,
//     "900": #000d1e,
//   ),

//   module-7: (
//     "100": #f5f4ff,
//     "200": #d0c9ff,
//     "300": #c0b9f2,
//     "400": #a491ff,
//     "500": #886cec,
//     "600": #6b53bd,
//     "700": #50339f,
//     "800": #2e2354,
//     "900": #0d0525,
//   ),

//   module-8: (
//     "100": #fcf2fb,
//     "200": #eec0e8,
//     "300": #e1addc,
//     "400": #e374db,
//     "500": #bf58b8,
//     "600": #9b3d95,
//     "700": #7b1c77,
//     "800": #421b3f,
//     "900": #190218,
//   ),
// );

$modules: (
  module-1: (
    "100": #fff3ef,
    "200": #fdc1ac,
    "300": #fbaa8d,
    "400": #fa794a,
    "500": #d55c2e,
    "600": #a84722,
    "700": #7e3317,
    "800": #4c1d0b,
    "900": #1a0501,
  ),

  module-2: (
    "100": #fff4e3,
    "200": #e6cda4,
    "300": #e7b96a,
    "400": #d4980b,
    "500": #ae7c07,
    "600": #896104,
    "700": #664702,
    "800": #3c2904,
    "900": #130a00,
  ),

  module-3: (
    "100": #f1fcd3,
    "200": #cbd8a7,
    "300": #b7cd6e,
    "400": #98b20e,
    "500": #7c9200,
    "600": #617300,
    "700": #475500,
    "800": #293200,
    "900": #0a0e00,
  ),

  module-4: (
    "100": #e0ffed,
    "200": #b1dcc4,
    "300": #8fd2ae,
    "400": #3cbf85,
    "500": #2f9d6d,
    "600": #237b54,
    "700": #175b3d,
    "800": #0b3623,
    "900": #011008,
  ),

  module-5: (
    "100": #e3fbfd,
    "200": #a2dde0,
    "300": #3dd8e0,
    "400": #00bbc3,
    "500": #009aa0,
    "600": #00787d,
    "700": #00595d,
    "800": #003537,
    "900": #000f10,
  ),

  module-6: (
    "100": #eef7fe,
    "200": #aad7f8,
    "300": #83cafb,
    "400": #2caff9,
    "500": #008fd3,
    "600": #0070a6,
    "700": #00537c,
    "800": #00314b,
    "900": #000e1a,
  ),

  module-7: (
    "100": #f3f5ff,
    "200": #c7cdff,
    "300": #b7bcf5,
    "400": #9398ff,
    "500": #7473f2,
    "600": #5a59c2,
    "700": #4139a3,
    "800": #262656,
    "900": #090626,
  ),

  module-8: (
    "100": #fbf2fc,
    "200": #e7c2f0,
    "300": #daafe4,
    "400": #d679ec,
    "500": #b45dc7,
    "600": #9142a3,
    "700": #722284,
    "800": #3e1d45,
    "900": #17031b,
  ),
);
