.disclosure {
  max-width: 50rem;
  margin-inline: auto;

  &__button {
    --outline-color: var(--clr-accordion-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--space-1) var(--space-2);
    color: var(--clr-accordion-text);
    text-align: start;
    background-color: var(--clr-accordion-bg);
    border: 2px solid var(--clr-accordion-border);

    &[aria-expanded="true"] {
      --outline-color: var(--clr-accordion-expanded-border);
      color: var(--clr-accordion-expanded-text);
      background-color: var(--clr-accordion-expanded-bg);
      border-color: var(--clr-accordion-expanded-border);

      & .disclosure__icon {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    padding: var(--space-3);
    border: 2px solid var(--clr-accordion-expanded-border);
    border-block-start: none;
    border-radius: 0 0 0.625rem 0.625rem;

    @container (min-width: 37.5rem) {
      margin-inline: var(--space-3);
    }

    @for $i from 1 through 8 {
      &[data-module="#{$i}"] .disclosure__module-link {
        color: var(--clr-module-#{$i}-accent);
      }
    }
  }

  &__module-link {
    display: inline-flex;
    align-items: center;
    gap: 0.4ch;
    text-align: center;
    font-size: var(--fs-400);
    font-family: var(--ff-title);
    font-weight: 600;
    text-wrap: balance;
  }
}
