.has-icon {
  & svg {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
    margin-inline-start: 0.4ch;
  }

  &[data-icon-start] svg {
    margin-inline-start: 0;
    margin-inline-end: 0.4ch;
  }
}
