<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <title>
      Guía en construcción sobre accesibilidad web | Accesibilidadweb.today
    </title>
    <link rel="icon" href="./logo-lm.svg" />
    <link
      rel="icon"
      href="./logo-dm.svg"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body>
    <main>
      <div class="wrapper flow">
        <h1>Bienvenido a accesibilidadweb.today</h1>
        <p>
          Este es un proyecto que busca crear una guía de aprendizaje de
          accesibilidad web enfocada a <strong>desarrollo web</strong> y
          <strong>diseño de interfaces</strong>.
        </p>
        <p>
          Este sitio está en proceso de construcción. Mientras tanto, puedes
          suscribirte a este newsletter para estar al tanto de las
          actualizaciones de este sitio.
        </p>
        <div id="newsletter">
          <p>
            Si quieres seguir las actualizaciones de este proyecto, puedes
            suscribirte a mi newsletter. Parece que no tienes JavaScript
            activado. ¡No hay problema! Envíame un correo a
            <a href="mailto:cristian@accesibilidadweb.today"
              >cristian@accesibilidadweb.today</a
            >
            y yo me encargaré del proceso
          </p>
        </div>
      </div>
    </main>

    <footer>
      <div class="wrapper">
        <p>
          Sitio y newsletter creado por
          <a href="https://www.itscrisdiaz.com/links">Cristian Díaz</a> y hecho con <a href="https://www.11ty.dev/">Eleventy</a>
        </p>
      </div>
    </footer>
    <script src="./submitForm.min.js" async></script>
  </body>
</html>
