---
import { SEO } from "astro-seo";

import Header from "../components/Header/Header.astro";
import Follow from "../components/Follow/Follow.astro";
import Footer from "../components/Footer/Footer.astro";

import favicon__lm from "/assets/images/favicon.svg";

const {
  title = "Accesibilidadweb.today",
  theme = "default",
  description = "Guía en español para aprender sobre accesibilidad web enfocada en desarrollo y diseño de interfaces",
  seoImage = {
    url: "",
    width: "200",
    height: "200",
  },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es" data-theme={theme} data-no-js>
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: seoImage.url,
        },
      }}
      twitter={{
        creator: "@ItsCrisDiaz",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: favicon__lm }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: seoImage.url,
          },
          { name: "twitter:card", content: "summary_large_image" },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
          { property: "og:image:width", content: seoImage.width },
          { property: "og:image:height", content: seoImage.height },
          { property: "og:description", content: description },
        ],
      }}
    />
    <meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style lang="scss" is:global>
      @import "../sass/index.scss";
    </style>
    <script defer>
      document.querySelector("html").removeAttribute("data-no-js");
    </script>
  </head>

  <body>
    <Header />
    <main id="main-content">
      <slot />
      <Follow />
    </main>
    <Footer />
  </body>
</html>
