---
import { Module3Lessons } from "../../../data/Module3Lessons";
// Component Imports
import Layout from "../../../layouts/layout.astro";
import ModuleHero from "../../../components/ModuleHero/ModuleHero.astro";
---

<Layout
  theme="3"
  title="WAI-ARIA - Accesibilidadweb.today"
  description="Aprende sobre esta especificación y su utilidad para crear sitios más accesibles para distintas tecnologías asistivas"
>
  <ModuleHero module="3">
    <h1>WAI-ARIA</h1>
    <p class="fs-500">
      Aprende sobre esta especificación que ayuda a hacer contenido accesible
      para usuarios de tecnologías asistivas.
    </p>
  </ModuleHero>
  <section aria-labelledby="lessons-title">
    <div class="wrapper flow" data-width="narrow">
      <h2 id="lessons-title">Lecciones</h2>
      <ul>
        {
          Module3Lessons.map((element) => {
            return (
              <li>
                <p>
                  <a
                    href={element.url ? element.url : null}
                    role={element.url ? null : "link"}
                    aria-disabled={element.url ? null : "true"}
                    set:html={element.title}
                  />{" "}
                  {element.url ? null : "- (En proceso)"}
                </p>
              </li>
            );
          })
        }
      </ul>
      <p class="fs-400">
        ¿Tienes alguna sugerencia sobre qué se puede enseñar en este o en
        cualquier otro módulo? ¡No dudes en enviar tu sugerencia a <a
          class="text-wrap"
          href="mailto:cristian@accesibilidadweb.today"
          ><b>cristian@accesibilidadweb.today</b></a
        >!
      </p>
    </div>
  </section>
</Layout>
